.selector-for-some-widget {
    box-sizing: content-box;
}



body {
    background-color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
}

header {
    background-color: rgb(0, 0, 0);
}

.navbar {
    background-color: black;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color: rgb(255, 255, 255);
} 


.nav-link {
    color: white;
    font-size: 1.2rem;
}

.nav-link:hover {
    color: rgb(105, 105, 105);
    
}

.btn {
    background-color: white;
    border: none;
    color: black;
}

.color-text {
    color: white;
}


.main {
    background-color: rgb(0, 0, 0);
}

.text-kape {
    background-color: black;
    padding: 1rem;
    color: white;
}


@media (max-width: 767.98px) { /* For devices less than 768px wide */
    .small-device-image {
        
        max-width: 80%;
    }
    
}
