<div class="container">
    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-3 my-4 border-top border-bottom">
      <div class="col mb-3">
        <a href="/" class="d-flex justify-content-center  mb-3 link-body-emphasis text-decoration-none ">
            <img src="assets/img/logo.jpg" width="120rem" class="  img-fluid small-device-image">
        </a>
        <p class="text-body-secondary text-center" style="color:white">© 2024 Copyright Reserved.</p>
      </div>
      <div class="col mb-3"></div>
      <div class="col mb-3">
        <ul class="nav flex-column text-center">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">KAPE MILANO</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Piazza Simone Bolivar, 3, 20146 Milano</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Instgram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Facebook</a></li>
        </ul>
      </div>
      <div class="col mb-3"></div>
      <div class="col mb-3">
        <ul class="nav flex-column text-center">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Menu</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Visit Us</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About Us</a></li>
        </ul>
      </div>
      
    </footer>
    <p class="text-body-secondary text-center" style="color:white">Made by @chrimitra.</p>
  </div>